/* Body */
html, body, .main {
    height: 100%;
    width: 100%;
}
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}
/* Colors */
.blue {
    color: rgb(48, 64, 161);
}
.blue:hover {
    background: rgba(48, 64, 161, .2);
}
.blue:active {
    background: rgba(48, 64, 161, .4);
}
.green {
    color: rgb(0, 195, 115);
}
.green:hover {
    background: rgba(0, 195, 115, .2);
}
.red {
    color: rgb(228, 25, 68);
}
.red:hover {
    background: rgba(228, 25, 68, .2);
}
.purple {
    color: rgb(123, 54, 158);
}
.purple:hover {
    background: rgba(123, 54, 158, .2);
}
.yellow {
    color: rgb(226, 192, 47);
}
.yellow:hover {
    background: rgba(226, 192, 47, .2);
}
.light-blue {
    color: rgb(0, 159, 215);
}
.light-blue:hover {
    background: rgba(0, 159, 215, .2);
}
/* Dashboard */
.dashboard {
    height: 100%;
    background: rgb(244, 244, 239);
}
.dashboard .container {
    height: calc(100% - 43px);
    background: white;
}
.dashboard .title {
    box-shadow: 0 2px 4px -2px gray;
}
.dashboard .title .col-md-2 {
    text-align: center;
    padding: 0px;
    cursor: pointer;
}
.dashboard .title .blue-bt:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(48, 64, 161) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(48, 64, 161) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(48, 64, 161) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .green-bt:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(0, 195, 115) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(0, 195, 115) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(0, 195, 115) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .red-bt:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(228, 25, 68) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(228, 25, 68) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(228, 25, 68) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .yellow-bt:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(226, 192, 47) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(226, 192, 47) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(226, 192, 47) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .purple-bt:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(123, 54, 158) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(123, 54, 158) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(123, 54, 158) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .light-blue-bt:after, .add-button .col-md-12:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgb(0, 159, 215) 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, rgb(0, 159, 215) 10%, transparent 10.01%);
    background-image: radial-gradient(circle, rgb(0, 159, 215) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.dashboard .title .col-md-2:active:after, .add-button .col-md-12:active:after {
    -webkit-background-size: 0% 0%;
    background-size: 0% 0%;
    opacity: .2;
    -webkit-transition: 0s;
       -o-transition: 0s;
          transition: 0s;
}
.dashboard .title .col-md-2 h3 {
    margin: 0px;
    padding: 10px;
}
.add-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    background: rgba(0, 159, 215, .2);
    border-bottom: 2px solid rgba(0, 159, 215, .2);
    border-left: 1px solid rgba(0, 159, 215, .2);
    border-right: 1px solid rgba(0, 159, 215, .2);
    color: rgb(0, 159, 215);
    cursor: pointer;
}
.add-button .col-md-12 {
    padding: 1rem;
}
.footer {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0;
}
.footer .container {
    background-color: rgb(0, 195, 115);
    text-align: center;
    padding: 1rem;
}
.footer a {
    color: white;
}