<div class="container">
	<legend>Event Type</legend>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" value="eat" checked="" ng-model="inputForm.type">
			eat
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" value="work" ng-model="inputForm.type">
			work
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" value="exercise" ng-model="inputForm.type">
			exercise
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" value="chill" ng-model="inputForm.type">
			chill
		</label>
	</div>
	<button ng-click="addType(inputForm)" class="btn btn-primary">Description</button>
</div>