<div class="container signup">
    <div class="row">
        <form class="form-horizontal col-md-8 col-md-offset-2">
            <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="name" placeholder="Joe Smith" ng-model="form.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="form.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password">
                    </div>
                </div>
                                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="email" placeholder="JoeSmith@gmail.com" ng-model="form.email">
                    </div>
                </div>
            </fieldset>
            <div class="btn btn-default" ng-click="signUp(form)">Submit</div>
        </form>
    </div>
</div>